{% extends 'base.html' %}
{% block page_content %}

    <div class="edit-answer">
        <form method="post">
            <h1>Edit Answer</h1>
            {% csrf_token %}
            {{ form.text }}
            <div class="checkbox-answer">
                <span>верен {{ form.correct }}</span>
            </div>
            <button type="submit" class="login-btn">запази</button>
            <a class="cancel-btn" href="{% url 'my questions' %}">отказ</a>
        </form>
    </div>

{% endblock %}