{% extends 'base.html' %}
{% block page_content %}
 {% load widget_tweaks %}
    <div>
        <div class="edit-question">
            <form method="post" action="{% url 'edit question' question.id %}">
                <h2>Въпрос:</h2>
                <ul>
                    {% csrf_token %}
                    {% render_field form.text style="font-size: large; rows: 2; border: solid; border-color: green; border-radius: 10px; width: 25rem; height: 6rem" %}
                </ul>
                <button type="submit" class="login-btn">запази</button>
                <a class="cancel-btn" href="{% url 'my questions' %}">отказ</a>
            </form>
        </div>
        {#        <div>#}
        {#     <img src="/static/img/trees.jpeg" width="490px" height="440px" class="edit-img">#}
        {#        </div>#}
    </div>
{% endblock %}