{% extends 'base.html' %}
{% block page_content %}
    <style>
        .quiz-container {
            max-width: 700px;
            margin: 0 auto;
        }
        .question {
            font-weight: bold;
            margin-bottom: 10px;
            background-color: 	#e9f5d6ff; /* A color between green and grey */
            padding: 10px;
            border-radius: 5px;
        }
        .answer-list {
            list-style-type: none;
            padding: 0;
            margin-bottom: 15px;
        }
        .answer-item {
            margin-bottom: 5px;
        }
        .submit-button {
            display: block;
            margin: 20px auto;
        }
    </style>
    <div class="container quiz-container">
        <h1 class="text-center mb-4">Quiz questions</h1>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <form method="post" action="{% url 'get result' %}">
                    {% csrf_token %}
                    {% for q in questions %}
                        <div class="question">{{ forloop.counter }}. {{ q }}</div>
                        <ul class="answer-list">
                            {% for answer in q.get_answer_quiz %}
                                <li class="answer-item">
                                    <input type="radio" name="{{ answer.question }}" value="{{ answer.text }}" class="form-check-input">
                                    <label class="form-check-label">{{ answer.text }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                        <hr>
                    {% endfor %}
                    <button class="btn btn-primary submit-button" type="submit">край</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}