{% extends 'base.html' %}
{% block page_content %}
{% load widget_tweaks %}
    <div class="add-design">
        <h2 class="add-design-text">Добави дизайн</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p><label class="add-design-text">Име:  </label>{%render_field form.name style="font-size: medium; border: solid; border-color:green; border-radius: 10px; width 20px; height: 30px" %}</p>
            <p class="add-design-text">{%render_field form.design_image style="font-size: medium; width 20px; height: 30px" %}</p>
            <button class="login-btn" type="submit">добави</button>
            <a class="cancel-btn" href="{% url 'design list' %}">отказ</a>
        </form>
    </div>

{% endblock %}
