.container {
    position: relative;
    min-height: 90vh;
}

.column {
    margin-top: 20px;
    float: left;
    /*position: relative;*/
    margin-left: 3rem;
}

.message-home {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    font-family: monospace, "Courier New";
    background: mediumseagreen;
    padding: 10px;
    color: white;
    border-radius: 10px;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E7EBE0FF;
    color: #333;
    padding: 0.5rem;
    border-radius: 0.8rem;
    border: 0.3rem solid green;
}

.navbar-user {
    font-size: 1.5rem;
    /*margin: .5rem;*/
    font-weight: bold;
}

.logo-a {
    /*display: inline-block;*/
    text-decoration: none;
    /*display: block;*/
    color: #1e5830;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    padding: 1rem;
    display: block;

    border: solid green;
    border-radius: 10px;
    background: mediumseagreen;
    font-weight: bold;
    color: white;
    margin: 0.2rem;
}

.navbar-links li a:hover {
    background-color: white;
    color: #1e5830;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.left-image {
    border-radius: 17%;
    box-shadow: 10px 10px 20px 5px;
    color: darkgrey;
    /*position: relative;*/
}

.input-size {
    width: 200px;
    height: 39px;
}

.base-text {
    font-size: 120%;
    color: white;
    font-family: monospace, "Courier New";
    text-align: center;
    text-decoration: none;
    /*font-weight: bolder;*/
    margin: 8px;
}

.nav-button:hover {
    background-color: white;
    color: #1e5830;
}

.margin-login {
    margin-left: 25%;
}

.margin-home {
    margin-left: 65%;
}

.welcome {
    color: #1e5830;
    font-weight: bold;
}

main {
    margin-bottom: 10px;
    flex-grow: 1;
}

footer {
    /*bottom: 0;*/
    margin-top: 1rem;
    width: 100%;
    /*height: 90px;*/
    padding: 1rem;
    background: #E7EBE0FF;
    /*position: sticky;*/
    /*position: -webkit-sticky;*/
    /*position: absolute;*/
    /*top: calc(100vh - 100px);*/
}

.footer-div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fa-instagram {
    background: #fb3958;
    color: white;
    opacity: 4.7;
    padding: 8px;
    font-size: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.fa-facebook {
    background: #4267B2;
    color: white;
    opacity: 4.7;
    padding: 8px;
    font-size: 2rem;
    width: 2rem;
    border-radius: 50%;
}

span {
    color: #1e5830;
    padding: 1px;
    font-size: 20px;
    text-align: center;
    font-family: monospace, "Courier New";
}
