{% extends 'base.html' %}
{% block page_content %}
        <div class="create-page">
            <form method="post" class="#">
                {% csrf_token %}
                <label>Въпрос:</label>
                <p class="#">{{ form.question_text }}</p>
                <label>Опция 1:</label>
                <p>{{ form.first_answer }}</p>
                <label>Опция 2:</label>
                <p>{{ form.second_answer }}</p>
                <label>Верен отговор:</label>
                <p>{{ form.correct_answer }}</p>
                <button type="submit" class="login-btn">Добави</button>
            </form>
        </div>
{% endblock %}