{% extends 'base.html' %}
{% block page_content %}
    <style>
        .activation-container {
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
            padding: 20px;
        }
        .activation-container img {
            margin-bottom: 20px;
        }
        .activation-container h3 {
            font-size: 1.25rem;
            color: #333;
        }
    </style>
    <div class="container activation-container">
        <img src="/static/img/ok-tick.png" width="150px" height="150px">
        <hr>
        <h3>Ще получите мейл с линк за активиране на нова парола. <br> Ако не сте получили мейл, моля убедете се, че сте въвели коректно електронната поща или проверете папка 'spam'</h3>
    </div>
{% endblock %}
