{% extends "base.html" %}

{% block page_content %}
    {% load widget_tweaks %}
    <!--Password Reset Confirm-->
    <div class="reset-pass">
        <h1 style="font-size: x-large">Моля въведете Вашата нова парола.</h1>
        <hr>
        <form style="color: black" method="POST">
            {% csrf_token %}
            <div style="padding: 5px">
                {% render_field form.new_password1 style="font-size: medium; border: solid; border-color:green; border-radius: 10px; width 30px; height: 36px" placeholder='нова парола' %}
            </div>
            <div style="padding: 5px">
                {% render_field form.new_password2 style="font-size: medium; border: solid; border-color:green; border-radius: 10px; width 30px; height: 36px" placeholder='повтори парола' %}
            </div>
            <div style="padding: 5px">
                <button class="reset-pass-btn" type="submit">промени</button>
            </div>
        </form>
    </div>

{% endblock %}