{% extends 'base.html' %}
{% block page_content %}
    {% load widget_tweaks %}
    <div class="reset-pass">
        <h1>Промяна на парола</h1>
        <form style="color: black" method="POST" action="{% url 'reset_password' %}">
            {% csrf_token %}
            {% render_field form.email style="font-size: medium; border: solid; border-color:green; border-radius: 10px; width 30px; height: 36px" placeholder='ел. поща' %}
            <button type="submit" class="cancel-btn">изпрати</button>
        </form>
    </div>

{% endblock %}