{% extends 'base.html' %}

{% block page_content %}
    {% load widget_tweaks %}
    <style>
        .reset-pass-container {
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
            padding: 20px;
        }
        .reset-pass-header {
            margin-bottom: 20px;
        }
        .reset-pass-field {
            font-size: medium;
            border: solid;
            border-color: green;
            border-radius: 10px;
            width: 100%;
            height: 36px;
            padding: 5px;
            margin-bottom: 20px;
        }
        .action-buttons {
            display: flex;
            justify-content: center;
            gap: 10px;
        }
        .action-buttons .btn {
            width: auto;
            padding: 10px 20px;
        }
    </style>
    <div class="container reset-pass-container">
        <h1 class="reset-pass-header">Моля въведете Вашата нова парола.</h1>
        <hr>
        <form method="POST" action="{% url 'reset_password' %}">
            {% csrf_token %}
            <div>
                {% render_field form.new_password1 class="reset-pass-field" placeholder='нова парола' %}
            </div>
            <div>
                {% render_field form.new_password2 class="reset-pass-field" placeholder='повтори парола' %}
            </div>
            <div class="action-buttons">
                <button type="submit" class="btn btn-primary">промени</button>
            </div>
        </form>
    </div>
{% endblock %}
