{% extends 'base.html' %}
{% block page_content %}
    {% load widget_tweaks %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <div class="mb-4">
                    <img src="/static/img/logo.jpeg" width="100px" height="100px" class="rounded-circle login-img">
                </div>
                <form method="post" action="{% url 'sign up' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        {% render_field form.email class="form-control" placeholder='ел. поща' %}
                    </div>
                    <div class="mb-3">
                        {% render_field form.password1 class="form-control" placeholder='парола' %}
                    </div>
                    <div class="mb-3">
                        {% render_field form.password2 class="form-control" placeholder='повтори парола' %}
                    </div>
                    {% if form.errors %}
                        <div class="text-danger mb-3">
                            Моля, коригирайте грешките по-долу.
                        </div>
                    {% endif %}
                    <button type="submit" class="btn btn-primary" style="width: auto; display: inline-block;">регистрация</button>
                </form>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <img src="/static/img/new_logo.png" width="440px" height="440px" class="img-fluid rounded login-right-img">
            </div>
        </div>
    </div>
{% endblock %}
