{% extends 'base.html' %}
{% block page_content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <form method="post" action="{% url 'sign in' %}">
                {% csrf_token %}
                <div class="mb-4">
                    <img src="/static/img/logo.jpeg" width="100px" height="100px" class="rounded-circle login-img">
                </div>
                <div class="mb-3">
                    {{ form.username }}
                </div>
                <div class="mb-3">
                    {{ form.password }}
                </div>
                {% if form.errors %}
                    <div class="text-danger mb-3">
                        Навалиден имейл или парола
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-primary" style="width: auto; display: inline-block;">вход</button>
                <div class="mt-3">
                    <a class="text-decoration-none" href="{% url 'reset_password' %}">Забравена парола</a>
                </div>
            </form>
        </div>
        <div class="col-md-6 d-none d-md-block">
            <img src="/static/img/pic4.jpeg" width="440px" height="440px" class="img-fluid rounded login-right-img">
        </div>
    </div>
</div>
{% endblock %}
